<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Contact</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link href="custom.css" rel="stylesheet">
</head>
<body>
<div class="container my-5">
    <h3> Add a New Contact </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/contact/save}" th:object="${contact}" method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{name}"
                                                                                         class="form-control" id="name"
                                                                                         placeholder="Name">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label> <input type="email"
                                                                                           th:field="*{email}"
                                                                                           class="form-control"
                                                                                           id="email"
                                                                                           placeholder="Email">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Add Contact ">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>